<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/logo.jpg"
            class="img-responsive center-block"
            style="max-height:300px;padding-bottom:50px" />
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Deborah Kurata</h3>
      </div>

      <div class="text-center">@deborahkurata</div>
      <div class="text-center">
        <a href="http://www.bit.ly/DeborahKsBlog">www.bit.ly/DeborahKsBlog</a>
      </div>
    </div>
  </div>
</div>
<div>
  <p>send optional value to /products</p>
  <p>send <a [routerLink]="['/products', { info: 'optionl value' }]"> info</a> by optional parameter and receive by this.route.snapshot.get('info')</p>
</div>
<div>
  <p>send optional value to /welcome itself</p>
  <p>init and reset <a [routerLink]="['/welcome', { counter: 1 }]"> <b>counter</b> </a> by optional parameter and receive by this.route.snapshot.get('counter')</p>
  <p>init or reset counter = {{counter}}</p>
  <p>click <a (click)="addCounter()"><b>+</b></a> to increas counter by 1 to  {{counter}}</p>
</div>